/* Bootstrap Alert CSS */
.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.375rem;
}
.alert-heading {
  color: inherit;
}
.alert-link {
  font-weight: 700;
}
.alert-dismissible {
  padding-right: 3rem;
}
.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem 1rem;
}
.alert-primary {
  color: #084298;
  background-color: #cfe2ff;
  border-color: #b6d4fe;
}
.alert-primary .alert-link {
  color: #06357a;
}
.alert-secondary {
  color: #41464b;
  background-color: #e2e3e5;
  border-color: #d3d6d8;
}
.alert-secondary .alert-link {
  color: #34383c;
}
.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}
.alert-success .alert-link {
  color: #0c4128;
}
.alert-info {
  color: #055160;
  background-color: #cff4fc;
  border-color: #b6effb;
}
.alert-info .alert-link {
  color: #04414d;
}
.alert-warning {
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}
.alert-warning .alert-link {
  color: #523e02;
}
.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}
.alert-danger .alert-link {
  color: #6a1a21;
}
.alert-light {
  color: #636464;
  background-color: #fefefe;
  border-color: #fdfdfe;
}
.alert-light .alert-link {
  color: #4f5050;
}
.alert-dark {
  color: #141619;
  background-color: #d3d3d4;
  border-color: #bcbebf;
}
.alert-dark .alert-link {
  color: #101214;
}
[data-toggle="tooltip"] {
  position: relative;
  display: inline-block;
  cursor: pointer;
  /* Tooltip Box */
  /* Placements */
}
[data-toggle="tooltip"] .tooltip-text {
  display: none;
  position: absolute;
  min-width: 250px;
  padding: 16px;
  font-size: 13px;
  font-weight: normal;
  text-align: left;
  color: #fff;
  background-color: #000c0c;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 0 56px rgba(0, 0, 0, 0.08);
  z-index: 99999999;
  box-sizing: border-box;
  transform: translate(-50%, -100%);
  transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26);
  white-space: normal;
  /* Arrow */
}
[data-toggle="tooltip"] .tooltip-text a {
  color: #a0e0ff;
  text-decoration: underline;
  transition: color 0.2s;
}
[data-toggle="tooltip"] .tooltip-text a:hover {
  color: #39b6f5;
}
[data-toggle="tooltip"] .tooltip-text i {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 24px;
  height: 12px;
  margin-left: -6px;
  overflow: hidden;
}
[data-toggle="tooltip"] .tooltip-text i::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  background-color: #000c0c;
  transform: translate(-50%, -50%) rotate(45deg);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}
[data-toggle="tooltip"]:not(.click):hover .tooltip-text,
[data-toggle="tooltip"]:not(.click):focus-within .tooltip-text {
  display: block;
}
[data-toggle="tooltip"].click.is-active .tooltip-text {
  display: block;
}
[data-toggle="tooltip"]:not([data-placement]) .tooltip-text,
[data-toggle="tooltip"][data-placement="top"] .tooltip-text {
  top: -20px;
  left: 50%;
  transform: translate(-50%, -100%);
}
[data-toggle="tooltip"]:not([data-placement]) .tooltip-text i,
[data-toggle="tooltip"][data-placement="top"] .tooltip-text i {
  margin-left: -12px;
}
[data-toggle="tooltip"][data-placement="bottom"] .tooltip-text {
  top: 100%;
  left: 25%;
  transform: translate(-50%, 0);
  margin-top: 10px;
}
[data-toggle="tooltip"][data-placement="bottom"] .tooltip-text i {
  top: -12px;
  transform: rotate(180deg);
}
[data-toggle="tooltip"][data-placement="left"] .tooltip-text {
  top: 50%;
  left: -10px;
  transform: translate(-100%, -50%);
}
[data-toggle="tooltip"][data-placement="left"] .tooltip-text i {
  top: 50%;
  left: 100%;
  transform: translateY(-50%) rotate(-90deg);
}
[data-toggle="tooltip"][data-placement="right"] .tooltip-text {
  top: 50%;
  left: 100%;
  transform: translate(0, -50%);
  margin-left: 10px;
}
[data-toggle="tooltip"][data-placement="right"] .tooltip-text i {
  top: 50%;
  left: -12px;
  transform: translateY(-50%) rotate(90deg);
}
.block-editor .editor-styles-wrapper {
  overflow-x: visible !important;
}
.pp-exceptions table {
  /* Prevent breakage by White Dot Theme */
  table-layout: auto !important;
  width: auto;
}
.pp-exceptions table,
.pp-exceptions table table th,
.pp-exceptions table td {
  border: none;
}
.pp-item-exceptions-ui td {
  vertical-align: middle;
}
.pp-current-item-exceptions {
  vertical-align: top;
}
.pp-current-item-exceptions select {
  min-width: 130px;
  margin-right: 10px;
  margin-left: 10px;
}
.pp-current-item-exceptions td.pp-exc-agent {
  max-width: 200px;
}
.pp-current-item-exceptions div.pp-exc-wrap {
  max-height: 325px;
}
.pp-exceptions .pp-def {
  color: #000;
  font-weight: normal;
}
.pp-exceptions .pp-no {
  color: #a00;
  font-weight: normal;
}
.pp-exceptions .pp-no2 {
  color: #a00;
  font-weight: bold;
}
.pp-exceptions .pp-yes {
  color: #090;
  font-weight: normal;
}
.pp-exceptions .pp-yes2 {
  color: #0a0;
  font-weight: bold;
}
.pp-no-exceptions {
  margin: 10px;
  margin-left: 5px;
  font-weight: bold;
}
.pp-exception-actions {
  padding: 10px;
  padding-left: 6px;
}
.pp-exception-actions a {
  text-decoration: none;
}
.pp-select-exception-agents input {
  vertical-align: top;
}
.pp-select-exception-agents h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.pp-select-exception-agents button {
  padding-top: 0;
  vertical-align: top;
}
.pp-select-exception-agents button.pp_add {
  float: none;
}
.pp-select-exception-agents .pp-agents-selection tbody tr td {
  padding-right: 10px;
}
.pp-agents-selection select.pp-new-selection,
.pp-agents-selection select.pp_agent_results,
select.pp-search-role {
  width: 170px;
}
/*
.pp-agents-selection tbody tr td {
    padding-right: 50px;
}
*/
.pp-exc-notes {
  color: #777;
}
.pp-exc-notes div {
  margin-top: 0.3em;
}
/* Custom Statuses Publish Metabox (not required with PPS > 2.1.13) */
div.item-condition-select {
  line-height: 1.5em;
  margin-top: 3px;
}
#submitdiv .pvt-custom {
  margin-left: 16px;
}
#submitdiv .pp-postsubmit-add-privacy {
  margin-left: 10px;
}
#visibility .pp-submitbox-customize {
  margin-left: 10px;
}
#ch_post-visibility-display {
  font-weight: bold;
}
.edit-tags-php #post-body-content #normal-sortables div.postbox {
  margin-right: 15px;
}
div.pp-user-meta-search {
  margin-top: 2px;
  margin-bottom: 2px;
}
div.pp-user-meta-search input {
  vertical-align: middle;
}
.pp-agents-selection h4 {
  margin-top: 10px;
}
.pp-submitbox-customize {
  text-decoration: none;
  padding-top: 6px;
}
.pp-submitbox-customize span.dashicons-groups {
  font-size: 24px;
}
