[data-toggle="tooltip"] {
  position: relative;
  display: inline-block;
  cursor: pointer;
  /* Tooltip Box */
  /* Placements */
}
[data-toggle="tooltip"] .tooltip-text {
  display: none;
  position: absolute;
  min-width: 250px;
  padding: 16px;
  font-size: 13px;
  font-weight: normal;
  text-align: left;
  color: #fff;
  background-color: #000c0c;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 0 56px rgba(0, 0, 0, 0.08);
  z-index: 99999999;
  box-sizing: border-box;
  transform: translate(-50%, -100%);
  transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26);
  white-space: normal;
  /* Arrow */
}
[data-toggle="tooltip"] .tooltip-text a {
  color: #a0e0ff;
  text-decoration: underline;
  transition: color 0.2s;
  font-size: 13px !important;
}
[data-toggle="tooltip"] .tooltip-text a:hover {
  color: #39b6f5;
}
[data-toggle="tooltip"] .tooltip-text i {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 24px;
  height: 12px;
  margin-left: -6px;
  overflow: hidden;
}
[data-toggle="tooltip"] .tooltip-text i::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  background-color: #000c0c;
  transform: translate(-50%, -50%) rotate(45deg);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}
[data-toggle="tooltip"]:not(.click):hover .tooltip-text,
[data-toggle="tooltip"]:not(.click):focus-within .tooltip-text {
  display: block;
}
[data-toggle="tooltip"].click.is-active .tooltip-text {
  display: block;
}
[data-toggle="tooltip"]:not([data-placement]) .tooltip-text,
[data-toggle="tooltip"][data-placement="top"] .tooltip-text {
  top: -20px;
  left: 50%;
  transform: translate(-50%, -100%);
}
[data-toggle="tooltip"]:not([data-placement]) .tooltip-text i,
[data-toggle="tooltip"][data-placement="top"] .tooltip-text i {
  margin-left: -12px;
}
[data-toggle="tooltip"][data-placement="bottom"] .tooltip-text {
  top: 100%;
  left: 25%;
  transform: translate(-50%, 0);
  margin-top: 10px;
}
[data-toggle="tooltip"][data-placement="bottom"] .tooltip-text i {
  top: -12px;
  transform: rotate(180deg);
}
[data-toggle="tooltip"][data-placement="left"] .tooltip-text {
  top: 50%;
  left: -10px;
  transform: translate(-100%, -50%);
}
[data-toggle="tooltip"][data-placement="left"] .tooltip-text i {
  top: 50%;
  left: 100%;
  transform: translateY(-50%) rotate(-90deg);
}
[data-toggle="tooltip"][data-placement="right"] .tooltip-text {
  top: 50%;
  left: 100%;
  transform: translate(0, -50%);
  margin-left: 10px;
}
[data-toggle="tooltip"][data-placement="right"] .tooltip-text i {
  top: 50%;
  left: -12px;
  transform: translateY(-50%) rotate(90deg);
}
/* --- Colors used in settings table --- */
.pp-important {
  font-weight: bold;
}
.pp-warning {
  color: #c00;
}
.pp-success {
  color: #0b0;
}
.pp-backtan {
  background-color: #858585;
}
/* --- Settings table layout --- */
#pp_settings_form .pp-form-table th {
  width: 185px !important;
  width: initial;
  padding-right: 10px;
}
.pp-options {
  padding: 0 0.5em 1em 0.5em;
  border: 1px solid #ccc;
  margin-top: 0;
}
.pp-form-table input {
  vertical-align: text-bottom;
}
.pp-options-table tr {
  border-bottom: 1px solid #dcdcde;
}
.pp-options-table tr td {
  padding-top: 1em;
  padding-bottom: 1em;
}
.pp-options-wrapper .pp-options-table th {
  font-weight: bold;
  padding-top: 1em;
  padding-left: 10px;
}
.pp-form-table tr th span a {
  color: #333;
  background-color: #CFEBF7;
}
.pp-form-table tr th,
.pp-form-table tr td {
  background-color: #f4f4f4;
  padding-left: 10px;
  padding-right: 10px;
}
.pp-form-table tr:last-of-type th,
.pp-form-table tr:last-of-type td {
  border-bottom: 4px solid #f4f4f4;
}
.pp-vtight input {
  margin-top: 0.15em;
}
.pp-optionhint {
  margin-top: 0.5em;
  font-style: italic;
  color: white;
}
table.pp-options-table .pp-optionhint {
  color: #686868;
}
#wpbody-content li.agp-selected_agent {
  border-bottom: none;
}
#wpbody-content li.agp-selected_agent a {
  font-weight: bold;
  color: white;
}
#pp_settings_form li.nav-tab {
  margin-bottom: -1px;
}
#pp_settings_form .activating,
#pp_settings_form .activating,
#pp-install .activating,
#tab-panel-pp .activating {
  border-width: 1px;
  border-style: solid;
  padding: 5px;
  margin: 0.5em 0.5em 0 0;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #ffffe0;
  border-color: #e6db55;
}
#pp_settings_form .activating p,
#tab-panel-pp .activating p {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
#pp_settings_form div.pp-subtext {
  margin-bottom: 20px !important;
}
#pp_settings_form:not(.force-display-hints) .pp-subtext {
  display: none;
}
#pp_settings_form .pp-subtext-show {
  display: block;
}
#pp_settings_form .pp-no-hide {
  display: revert;
  margin-top: 5px;
  color: inherit !important;
}
#pp_settings_form .pp-show-hints {
  margin-left: 10px;
  opacity: 80%;
}
#pp_settings_form .pp-show-hints:hover {
  opacity: 50%;
}
#pp_settings_form div.pp-advanced-caution {
  color: #777;
  font-style: italic;
  margin-top: 5px;
  padding-top: 8px;
  padding-left: 8px;
}
#pp_settings_form div.pp-advanced-caution span.pp-caution {
  font-weight: bold;
}
#pp_settings_form div.pp-advanced-caution ul {
  list-style-type: disc;
  padding: 0 0 10px 25px;
  margin-top: 8px;
}
/* --- Install Tab --- */
#pp-modules_table span.publishpress,
#pp-install_table span.publishpress a,
#pp-install_table span.publishpress a:visited {
  color: #655997;
  font-weight: bold;
}
#pp-install #edd_key {
  width: 300px;
}
#pp-install #edd_key::-webkit-input-placeholder {
  color: #aaa;
}
#pp-install #edd_key::-moz-placeholder {
  color: #aaa;
}
#pp-install #edd_key::-moz-placeholder {
  color: #aaa;
}
#pp-install #edd_key::-ms-input-placeholder {
  color: #aaa;
}
#pp-install #activation-button {
  vertical-align: top;
}
#pp-install .pp-key-label {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
#pp-install .pp-key-active {
  font-weight: bold;
  color: #070;
  vertical-align: bottom;
  margin-right: 0.5em;
}
#pp-install .pp-key-inactive {
  font-weight: bold;
  vertical-align: bottom;
  margin-right: 0.5em;
}
#pp-install span.pp-key-warning {
  color: #c00;
  font-weight: normal;
}
#pp-install div.pp-key-wrap {
  white-space: nowrap;
}
#pp-install div.pp-key-refresh {
  white-space: nowrap;
  padding-left: 10px;
  vertical-align: middle;
}
#pp-install div.pp-key-hint {
  margin-left: 120px;
  margin-top: 10px;
}
#pp-install div.pp-key-hint-expired {
  margin-left: 5px;
  margin-top: 5px;
}
#pp-install .pp-install-list {
  margin: 0.5em 0 1em 0;
}
#pp-install .pp-install-list li {
  padding-left: 1em;
}
#pp-install #activation-status {
  text-align: center;
  margin-bottom: 10px;
}
#pp-modules table.pp-extensions th {
  width: initial !important;
  min-width: 150px;
  padding-right: 20px;
  font-weight: normal;
}
#pp-modules table.pp-extensions tr th,
#pp-modules table.pp-extensions tr td,
#pp-modules table.pp-extensions tr {
  margin-bottom: 1px;
  vertical-align: middle;
  border-bottom: none;
}
#pp-modules table.pp-extensions {
  margin-top: 2px;
  margin-left: 0;
}
#pp-modules table.pp-extensions tr th,
#pp-modules table.pp-extensions tr td {
  background-color: #fff;
}
#pp-modules table.pp-extensions tr th,
#pp-modules table.pp-extensions tr td {
  padding: 8px;
}
#pp-modules table.pp-extensions tr th {
  line-height: 8px;
  white-space: nowrap;
}
#pp-modules table.pp-extensions tr td {
  line-height: 15px;
  padding-left: 5px;
}
#pp-modules span.pp-ext-info {
  color: #777;
}
#pp_config_upload_caption {
  text-indent: -10px;
  padding-left: 10px;
  margin-top: 15px;
  margin-left: 10px;
}
#pp_config_upload_wrap {
  padding-left: 22px;
}
#pp-install .support_data div {
  margin-bottom: 6px;
  vertical-align: bottom;
}
#pp-install .pp-feature-list-caption {
  margin-top: 20px;
}
#pp-install .pp-bullet-list {
  list-style: disc;
  padding-left: 15px;
}
#pp-install_table h4 {
  margin-bottom: 2px;
}
#pp_settings_form #activation-status {
  margin-top: 20px;
}
#pp_settings_form #activation-error {
  margin-top: 20px;
}
#pp-install li.pp-pro-extensions-migration-note {
  max-width: 550px;
}
/* --- Advanced tab --- */
.pp-capabilities-caption {
  margin-left: 10px;
}
.pp_cap_descripts {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}
.pp_cap_descripts tr {
  border-bottom: none;
}
.pp_cap_descripts tr th {
  border-bottom: none;
  line-height: 8px;
}
.pp_cap_descripts tr td {
  border-bottom: none;
  line-height: 15px;
  margin-bottom: 1px;
  padding-left: 5px;
  background-color: #fff;
}
.pp_cap_descripts th.cap-name {
  text-align: center;
}
.pp_cap_descripts td.cap-name {
  width: 22%;
  text-align: center;
  font-family: courier new, courier, monospace;
}
.pp_cap_descripts tr.const-section td {
  font-style: italic;
  text-align: left;
  vertical-align: bottom;
  padding-bottom: 0;
  color: #8b8b8b;
  font-weight: bold;
}
.pp_cap_descripts td.defined {
  font-weight: bold;
}
div.pp-settings-code {
  max-width: 700px;
}
div.pp-settings-code textarea {
  margin-top: 5px;
}
div.pp-user-permissions-help {
  margin-top: 20px;
}
div.pp-user-permissions-help p {
  margin-bottom: 10px !important;
}
/* --- PPFF Attachments Utility --- */
.pp-instructions ol {
  list-style-type: decimal;
}
.pp-instructions ol li {
  margin: 1em 0 1em 2em;
}
@media screen and (max-width: 782px) {
  .pp-form-table tr th {
    border-bottom: none;
  }
  .pp-form-table div.agp-v-spaced_input {
    margin-top: 15px;
  }
  .pp-form-table div.agp-vtight_input {
    margin-top: 8px;
  }
  .pp-form-table #activation-button {
    margin-top: 5px;
  }
  .pp-form-table div.pp-subtext {
    margin-bottom: 20px;
    margin-top: 5px;
  }
  div.default_privacy table td.rlabel {
    text-align: left;
    font-weight: bold;
  }
  span.pp-capabilities-caption {
    margin-left: 10px;
  }
  #pp_cap_descripts {
    margin-top: 10px;
  }
  #pp_cap_descripts th {
    display: none;
  }
  #pp_cap_descripts td {
    padding-top: 0;
  }
  #pp_cap_descripts td.cap-name {
    margin-bottom: 0;
    padding-top: 5px;
    font-weight: bold;
  }
  #pp_cap_descripts td,
  #pp_cap_descripts td.cap-name {
    width: 100%;
    text-align: left;
  }
  #pp_defined_constants {
    margin-top: 10px;
  }
  #pp_defined_constants th {
    display: none;
  }
  #pp_defined_constants td {
    padding-top: 0;
  }
  #pp_defined_constants td.cap-name {
    font-weight: bold;
  }
  #pp_defined_constants td {
    margin-bottom: 0;
    padding-top: 5px;
  }
  #pp_defined_constants td,
  #pp_defined_constants td.cap-name {
    width: 100%;
    text-align: left;
  }
  #pp_available_constants {
    margin-top: 10px;
  }
  #pp_available_constants th {
    display: none;
  }
  #pp_available_constants td {
    padding-top: 0;
  }
  #pp_available_constants td.cap-name {
    font-weight: bold;
  }
  #pp_available_constants td {
    margin-bottom: 0;
    padding-top: 5px;
  }
  #pp_available_constants td,
  #pp_available_constants td.cap-name {
    width: 100%;
    text-align: left;
  }
}
#pp_defined_constants th,
#pp_available_constants th {
  width: auto;
}
#pp-import div.rsu-issue {
  margin-top: 10px;
}
#pp-import div.rsu-issue > h4 {
  background: #eee;
  color: #222;
  font-size: 1.2em;
  padding: 8px 10px;
  margin: 0;
}
#pp-import div.rsu-issue > h4 a {
  text-decoration: none;
  display: block;
  color: #222;
}
#pp-import div.rsu-issue > h4 a:hover,
#pp-import div.rsu-issue > h4 a:focus,
#pp-import div.rsu-issue > h4 a:active {
  text-decoration: none;
  color: #222;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
#pp-import div.rsu-issue ul {
  margin: 0 0 20px 0;
  border-width: 0 1px;
  border-color: #eee;
  border-style: solid;
}
#pp-import div.rsu-issue ul li {
  margin: 0 0 0px 0;
  list-style: none;
  border-bottom: 1px solid #eee;
  padding: 8px 10px;
  background-color: white;
}
#pp-import div.rsu-notes ul {
  max-width: 650px;
  margin-left: 20px;
  margin-top: 5px;
}
#pp-import div.rsu-notes ul li {
  list-style: disc;
  padding-left: 10px;
  margin-left: 5px;
}
#pp-import input {
  padding: 5px;
}
#pp-import span.prev-imports {
  padding: 5px;
}
#pp-import div.rsu-issue {
  margin-top: 10px;
}
#pp-import div.rsu-issue > h4 {
  background: #eee;
  color: #222;
  font-size: 1.2em;
  padding: 8px 10px;
  margin: 0;
}
#pp-import div.rsu-issue > h4 a {
  text-decoration: none;
  display: block;
  color: #222;
}
#pp-import div.rsu-issue > h4 a:hover,
#pp-import div.rsu-issue > h4 a:focus,
#pp-import div.rsu-issue > h4 a:active {
  text-decoration: none;
  color: #222;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
#pp-import div.rsu-issue ul {
  margin: 0 0 20px 0;
  border-width: 0 1px;
  border-color: #eee;
  border-style: solid;
}
#pp-import div.rsu-issue ul li {
  margin: 0 0 0px 0;
  list-style: none;
  border-bottom: 1px solid #eee;
  padding: 8px 10px;
  background-color: white;
}
#pp-import div.rsu-notes ul {
  max-width: 650px;
  margin-left: 20px;
  margin-top: 5px;
}
#pp-import div.rsu-notes ul li {
  list-style: disc;
  padding-left: 10px;
  margin-left: 5px;
}
#pp-import input {
  padding: 5px;
}
#pp-import span.prev-imports {
  padding: 5px;
}
/* Key Display */
.key-display {
  display: flex;
  margin-top: 5px;
  margin-bottom: 15px;
}
.key-value {
  flex-grow: 1;
  font-family: monospace;
  padding: 8px 12px;
  background: #f6f7f7;
  border: 1px solid #dcdcde;
  border-radius: 3px 0 0 3px;
  overflow-x: auto;
}
.copy-btn {
  background: #3858e9;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: background 0.2s;
}
.copy-btn:hover {
  background: #2a4bd6;
}
/* Buttons */
.btn-regenerate {
  display: block;
  padding: 8px 16px;
  background: #3858e9;
  color: white!important;
  text-decoration: none;
  border-radius: 3px;
  font-size: 14px;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
  text-align: center;
}
.btn-regenerate:hover {
  background: #2a4bd6;
}
