# Version Control
.git
.svn

# IDE
.idea
.vscode

# Build Artifacts
/build
/dist

# Dependencies
/node_modules
/vendor

# Cache
/cache/*
.php-cs-fixer.cache
.phplint.cache

# Miscellaneous
.DS_Store
.env.testing
.properties.ini
/bin
/builder.yml
/CONTRIBUTING.md
/lib/**/.git
/license.txt
/local.sh
/packages
/readme.html
/sitemap.xml
/sitemap.xml.gz
/wp-config.php
/wp-content/advanced-cache.php
/wp-content/backup-db/
/wp-content/backups/
/wp-content/blogs.dir/
/wp-content/cache/
/wp-content/mu-plugins/
/wp-content/plugins/hello.php
/wp-content/upgrade/
/wp-content/uploads/
/wp-content/wp-cache-config.php
*.code-workspace
*.log
.htaccess
wpcom-helper.php
